* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ee9520;
  line-height: 1.6;
  width: 100%;
  /* display: flex;*/
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  place-content: center;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

.container {
  width: 768px;
  margin: auto;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.text-display {
  position: relative;
  font-weight: bold;
}

.btn {
  color: rgb(12, 11, 11);
  border: 0;
  border-radius: 18px;
  color: rgb(7, 7, 7);
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.delete, .edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.item {
  text-align: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.inputBox {
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 2%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  border-radius: 15px;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type="text"] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 15px;
  outline: none;
  margin-bottom: 10px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  text-decoration: none;
}

.navigation ul {
  list-style-type: none;
}

.navigation-links {
  margin-top: 20px;
}

.body-container-width {
  min-height: calc(100vh - 192px);
  max-width: 1024px;
  margin: auto;
}

.body-container-flex {
  display: flex;
  justify-content: space-evenly;
}